*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#table{
    margin-left: 40%;
    margin-top: 100px;
}

.text{
  border: 2px solid orange;
    padding: 5px; 
    margin: 0; 
}
#text5{
    margin: 20px 100px;
    text-align: justify;

}
#text5 span{
    font-size: 50px;
}