*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#head ul li{
list-style: none;
display: inline;
margin:  10px 20px;
transition: 0.5s;
 color: black;
}
#head a{
    text-decoration: none;
    color: black;
    font-size: 1.25em;
    font-weight: bold;
}
#head li:hover{
    background-color: aqua;
    transform: scale(1.2);
}
#table{
    margin-left: 40%;
    border-collapse:collapse;
    margin-top: 100px;
}
audio{
    margin: 20px 50px;
}
.text{
  border: 2px solid black;
    padding: 5px; 
    margin: 0; 
    text-align: center;
}
#text5{
    margin: 20px 100px;
    text-align: justify;

}
#text5 span{
    font-size: 50px;
}
footer{
    height: 340px;
    background-color: rgb(101, 3, 247);
}
.box{
    display: flex;
    background-color: rgb(101, 3, 247);
    height: 280px;
}
.box div{
    flex-basis: 30%;
   text-align: left;
margin: 20px 40px;
 height: 200px;
}
#location h3{
font-weight: bold;
color: white;
margin-top: 20px;
}
#location p{
    text-align: justify;
    font-weight: bold;
    color: white;
}
#location2 h3{
font-weight: bold;
color: white;
margin-top: 20px;
}
#location2 p{
    text-align: left;
    font-weight: bold;
    color: white;
    line-height: 30px;
}
#location3 h3{
font-weight: bold;
color: white;
margin-top: 20px;
}
#location3 h4{
font-weight: bold;
color: white;
margin-top: 20px;
}
#lasttext{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#animation{
    background-color: rgb(72, 199, 72);
    height: 200px;
    margin-bottom: 50px;
    overflow: hidden;
}
.move{
    font-size: 30px;
    white-space: nowrap;
    animation: moveText 15s linear infinite ;
}
@keyframes moveText{
    from{
       transform: translateX(-100%);
    }
    to{
       transform:translateX(100%) ;
    }
}
.container{
    display: flex;
      gap: 20px;
}
.container div{
    background-color: aqua;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.415);
    padding: 10px;
    margin: 20px;
  
}
#align1{
    height: 150px;
    background-color: aquamarine;
    margin: 50px 0px;
display: flex;
gap: 10px;
justify-content:center ;
align-items: center;
}
#align1 div{
    height: 100px ;
    width: 100px;
    background-color: black;
   
}